<div class="container-fluid">
    <!-- <div  class="container-fluid theme"  [style]="flag?'': darkTheme" >   -->
    <!-- <app-navbar></app-navbar>
<app-header></app-header>
<app-carousel></app-carousel>
<app-footer></app-footer> -->
    <!-- <app-databinding></app-databinding> -->
    <!-- <h2 [style]="flag?'':'color:white'">Toggle background color</h2>
<div class="bi bi-toggle2-off" [style]="flag?'':'color:white'" (click)="toggleTheme()"></div> -->
    <!-- <app-productdisplay></app-productdisplay> -->
    <!-- <app-product-list-pagination></app-product-list-pagination> -->
    <!-- <div class="table-responsive m-4">
        <h2 class="text-center">Employee Details</h2>
        <table class="table table-hover table-striped table-bordered caption-top mt-4">
            <tr class="bg-warning text-center">
                <th>Code</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Salary</th>
                <th>Date of Birth</th>
            </tr>
            <tbody>
                <tr *ngFor="let employee of employees|prefix" class="text-center">
                    <td>{{employee.code}}</td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.gender}}</td>
                    <td>{{employee.annualSalary |currency}}</td>
                    <td>{{employee.dateOfBirth}}</td>
                </tr>
            </tbody>
        </table>
    </div> -->

    <!-- <hr>
    <div class="ms-2">
    <h3>Ordinal Number</h3>    
        Ordinal number of &nbsp;<input type="number" [(ngModel)]="num" class="ordinal text-center">&nbsp;is  <b>{{num}}<sup>{{num | ordinal}} </sup></b>.      
    </div> -->

    <!-- <app-parent></app-parent> -->
    <!-- <app-math></app-math> -->
    <app-employee-crud></app-employee-crud>
</div>